.App {
  display: flex;
  color: #fff;
}

#contents {
  background-color: #3a3542;
  width: calc(100vw - 0px);
  padding: 20px;
  height: calc(100vh - 40px);
  transition-duration: 0.8s, 1.2s;
  transition-timing-function: ease-in, linear;
}