#leftBar {
    color: white;
    width: 350px;
    height: calc(100vh - 10vh);
    background-color: #4C4556;
    padding-top: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 0.8s, 1.2s;
    transition-timing-function: ease-in, linear;
}

#update {
    position: absolute;
    top: 3px;
    left: 5px;
    opacity: 0.5;
    font-size: 12px;
}

.close {
    transform: translateX(-300px);
}

#leftBar>.minimize {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
}

#leftBar>.minimize:hover {
    color: #F6C026;
}

#mypic {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50%;
}

#mypic img {
    width: 100%;
    padding-top: 40px;
}

#navClosed {
    width: 40px;
    height: calc(100% - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    right: 5px;
    top: 0;
    margin: 50px 0 0 0;
    flex-direction: column;
}

#navClosed>div {
    text-align: center;
    cursor: pointer;
}
#navClosed>div:hover {
    color: #F6C026;
}

#navClosed #picClosed {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#picClosed img{
    width: 100%;
    margin-top: 8px;
}

#leftBar h2 {
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
}

#leftBar>p {
    text-align: center;
    font-size: 18px;
    margin: 0;
}

#leftBar>p>span {
    font-size: 22px;
    color: #F6C026;
}

#leftBar>ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
}

#leftBar>ul>li {
    text-align: center;
    line-height: 35px;
}

#leftBar>ul>li:nth-child(1):hover>ul {
    display: block;
}

.check ul {
    display: block !important;
}

#leftBar li>span:hover {
    color: #F6C026;
    cursor: pointer;
}

#leftBar>ul>li>ul {
    color: white;
    list-style: none;
    text-align: left;
    padding-left: 48%;
    line-height: 25px;
    font-size: 80%;
    display: none;
}

#leftBar>#contactUS {
    text-align: left !important;
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 15px;
    margin: 0;
    font-size: 1em;
}

#leftBar>#contactUS>li {
    text-align: left !important;
    padding-left: 35px;
    line-height: 25px;
}

#leftBar>#contactUS>li i {
    margin-right: 10px;
}

#leftBar>#contactUS>li a {
    color: wheat;
    text-decoration: none;
}

#contactUSClosed {
    margin-top: auto;
    list-style: none;
    padding: 0;
    font-size: 24px;
}

#contactUSClosed>li {
    margin-top: 10px;
}

#contactUSClosed>li a {
    color: wheat;
    text-decoration: none;
}

#leftBar>#contactUS>li a:hover {
    color: #A0D3F9;
    text-decoration: underline;
}

#contactUSClosed>li a:hover {
    color: #A0D3F9;
    text-decoration: underline;
}