.introduce {
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 20px;
    background-color: #4c4c4c;
    border-radius: 20px;
    position: relative;
}

.introduce:last-child {
    margin-bottom: 0;
}

.introduce>i {
    color: white;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 30px;
}

.introduce>i:hover {
    cursor: pointer;
    color: #F6C026;
}

.introduce h4>i {
    color: #A0D3F9;
    margin-right: 15px;
    transform: rotateY(180deg);
}

.introduce h4 {
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    cursor: pointer;
    width: calc(100% - 40px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.skill h4>span{
    font-size: 0.65em;
    margin-left: 15px;
    opacity: 0.5;
}
.skill h4>span:hover{
    opacity: 1;
    cursor: pointer;
}

.introduce h4:hover {
    color: #F6C026;
}

.introduce .introduce_word {
    text-indent: 10px;
    padding: 10px;
    font-size: 16px;
}

.introduce .introduce_word>p {
    margin: 2px;
}

.introduce .introduce_word span {
    color: #F6C026;
    font-size: 1.2em;
}

.introduce .introduce_word b {
    color: #fa80a3;
    font-size: 1.2em;
    font-weight: 400;
}

#Skill .introduce_word {
    max-height: 170px;
    overflow-y: auto;
}

#Skill .introduce .introduce_word::-webkit-scrollbar-thumb {
    background-color: #A0D3F9;
    border-radius: 10px;
}

#Skill .introduce .introduce_word::-webkit-scrollbar {
    width: 10px;
}

.skill{
    margin-bottom: 20px;
}
.skill h4{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 400;
    margin-left: 5px;
}

.skill h4>i {
    color: #F6C026;
    margin-right: 15px;
    transform: rotateY(180deg);
}

.skill div{
    margin-bottom: 5px;
}

.skill div>span{
    display: inline-block;
    margin-bottom: 3px;
    padding: 0px 10px;
    line-height: 25px;
    background-color: #872642;
    border-radius: 8px;
    font-family: 'Roboto';
    margin-right: 6px;
}