#Intro {
    height: calc(100vh - 40px);
    overflow: auto;
}

#Intro::-webkit-scrollbar-thumb {
    background-color: #A0D3F9;
    border-radius: 10px;
}

#Intro::-webkit-scrollbar {
    width: 10px;
}

#Intro h3 {
    font-weight: 500;
    font-size: 35px;
    margin: 0;
    line-height: 50px;
    margin-bottom: 20px;
}

#Intro h3>a {
    font-size: 0.65em;
    margin-left: 15px;
    opacity: 0.5;
    color: white;
    text-decoration: none;
}

#Intro h3>i {
    color: #F6C026;
    margin-right: 15px;
}


#Intro #introduceBox {
    overflow-y: auto;
    margin-top: 10px;
}

#Intro #introduceBox h4 {
    margin-top: 10px;
}

#introduceBox::-webkit-scrollbar-thumb {
    background-color: #A0D3F9;
    border-radius: 10px;
}

#introduceBox::-webkit-scrollbar {
    width: 10px;
}

@media (max-width: 500px) {
    #introduce img {
        display: none;
    }

    #introduce_title {
        width: 100%;
    }

    #introduce {
        height: 160px;
    }
}