#Intro {}

#Intro h3 {
    font-weight: 500;
    font-size: 35px;
    margin: 0;
    line-height: 50px;
}

#Intro h3>i {
    color: #F6C026;
    margin-right: 15px;
}

#introduce {
    display: flex;
    height: 200px;
    margin-top: 30px;
}

#introduce img {
    margin-right: 20px;
    border-radius: 30px;
}

#introduce h4 {
    font-weight: 400;
    font-size: 35px;
    margin: 0;
    margin-bottom: 40px;
}

#introduce span {
    font-size: 25px;
    margin-left: 90px;
}

#introduce span>b {
    font-size: 35px;
    font-weight: 400;
    color: #A0D3F9;
}

#Intro #introduceBox {
    height: calc(100vh - 340px);
    overflow-y: auto;
    margin-top: 20px;
}

#introduceBox::-webkit-scrollbar-thumb{
    background-color: #A0D3F9;
    border-radius: 10px;
}

#introduceBox::-webkit-scrollbar {
    width: 10px;
}
